{{define "base"}}<!DOCTYPE html><!-- начало базового шаблона с его определением -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Метрики</title>
</head>
<body>
    {{template "content" .}}
</body>
</html>{{end}}